body{
    background-color: #fffffff6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    border-bottom: 2px solid #ccc;
}

.logo img {
    width: 120px;
    height: auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.menu a:hover {
    color: gray;
    text-decoration: underline;
}

.login a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 18px;
    transition: .3s;
}

.login a:hover {
    background: #555555;
    color: white;
    transition: 0.3s;
}

.title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
}

.card {
    display: flex;
    align-items: center;
    background:rgb(255, 255, 255);
    padding: 25px;
    margin-bottom: 35px;
    gap: 25px;
    justify-content: center;
}

.card img {
    width: 520px;
    height: 360px;
    border-radius: 16px;
    object-fit: fill;
}

.card a:hover {
    box-shadow: black 0px 4px 15px;
    transition:  0.3s;
}
.info h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 10px;
}

.info p {
    font-size: 25px;
    margin-bottom: 15px;
    max-width: 550px;
}

.card a {
    padding: 10px 22px;
    border-radius: 25px;
    border: 1.5px solid #555555;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.tambahan {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 200px;
}

.card1 {
    background: white;
    padding: 35px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.card1 img {
    width: 220px;
    height: 160px;
    border-radius: 16px;
}

.card1:hover {
    box-shadow: black 0px 4px 15px;
    transition:  0.3s;
}

.card1 a {
    padding: 10px 22px;
    border-radius: 25px;
    border: 1.5px solid #555555;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.card1 a:hover {
    background: #a5a5a5;
    color: #000000;
}

.contact {
    text-align: center;
    padding: 15px 40px;
    background: white;
    border-top: 2px solid #ccc;
    gap: 25px;
}

.contact p {
    text-align: center;
    font-size: 25px;
}

.isi {
    display: flex;
    align-items: center;
    background:rgb(255, 255, 255);
    padding: 25px;
    margin-bottom: 55px;
    gap: 25px;
    justify-content: center;
}

.isi p {
    font-size: 18px;
    margin: 0;
    line-height: 1.6;
    text-align: justify;
}

.isi img {
    width: 400px;
    height: 200px;
    margin-right: 50px;
    object-fit: cover;
}
.info{
    font-size: 40px;
}

.tambahan1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

.tambahaninfo {
    background: rgb(245, 242, 242);
    padding: 15px 40px;
    border-bottom: 1.5px solid #555555;
    border-top: 1.5px solid #555555;
}

.tambahaninfo p{
    font-size: 26px;
    text-align: center;
    gap: 20px;
}

.login2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1.5px solid #555555;
    padding: 100px 20px;
    margin: 40px auto;
    background-color: #a5a5a5;
    gap: 20px;
    border-radius: 20px;
    width: 500px;
}

input[type="submit"] {
    display: block;
    margin: auto;   /* otomatis ketengah */
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.login3 table {
    margin: 0 auto;
}

.login3 td {
    text-align: center;
}

.login3 input[type="text"], .login3 input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

.login3 input[type="submit"] {
    padding: 10px 20px;
    background-color: #555555;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

footer {
    text-align: center;
    margin: auto;
}