body {
    background: #f4f4f4;
    margin: 20px;
    padding: 5px;
}

.container1 {
    width: 420px;
    margin: 250px auto;
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.container1 h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.table {
    width: 100%;
}

.table td {
    padding: 10px 0;
    color: #333;
}

.upload {
    align-items: center;
    margin: auto;
    display: flex;
    padding: 10px 20px;
    background-color: #555555;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.kembali {
    margin-left: 120px;
    text-decoration: none;
    color: black;
}

footer {
    text-align: center;
    margin: auto;
}