body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 450px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.table {
    margin: 0 auto;
}

.table td {
    padding: 10px 5px;
}

.kembali {
    margin:auto;
    text-decoration: none;
    color: black;
}